{{extend "bootstrap_layout.html"}}

{{block title}}<title>{{=settings.LAYOUT.TITLE}}首页</title>{{end}}


{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/index.css')}}" />
<script type="text/javascript" src="{{=url_for_static('js/QTransform.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/index.js')}}"></script>
<link rel="publisher" href="https://plus.google.com/115756727894309388806" />
{{end}}

{{block content}}
<div class="hero-unit">
  <div id="content">
    <div class="hero-content" id="first-hero">
      <div class="row show-grid">
        <div class="span-one-third" style="width:200px;">
          <!--img src="{{=url_for_static('images/ioscon.png')}}" alt="iOSCon China 2012 Logo" /-->
          <img src="{{=url_for_static('images/iOSConChina.png')}}" alt="iOSCon China 2012 Logo" width="200" />
        </div>
        <div class="span-two-thirds" style="width:600px; text-align:right;">
          <h1 style="border:none; padding-bottom:0;">PMConf China 2012</h1>
          <p>May 19, 2012 9:00 AM - 6:00 PM</p>
          <p>Shanghai, China</p>
          <p>Total number of seats: 300</p>
          <p>Seats still available.</p>
        </div>
        <br />
        <!--p style="text-align:right;"><a target="_blank" class="btn primary large" href="http://e.gensee.com/l_72a754" onClick="_gaq.push(['_trackEvent', 'LiveButton', 'Click', '{{=request.path}}_banner1_'+this.href]);">现场直播 &raquo;</a></p-->
      </div><!--END grid-->
    </div><!--END hero-content-->

    <div class="hero-content" id="second-hero">
      <div class="row show-grid">
        <div class="span-one-third" style="width:200px;">
          <img src="{{=url_for_static('images/heroes/SAMSUNG_ST95.jpg')}}" alt="SAMSUNG ST95" />
        </div>
        <div class="span-two-thirds" style="width:600px; text-align:right;">
          <h2>在今年的大会中</h2>
          <h2>我们会抽出1台三星(SAMSUNG) 数码相机</h2>
          <h2>作为参会者的奖品</h2>
          <p>人人都有机会，只要您已经注册</p>
          <p>还没有注册？点击下面的按钮立即前往注册页面。</p>
        </div>
        <br />
        <p style="text-align:right;"><a target="_blank" class="btn primary large" href="http://pmcon.51qiangzuo.com/" onClick="_gaq.push(['_trackEvent', 'RegButton', 'Click', '{{=request.path}}_banner2_'+this.href]);">立即报名！ &raquo;</a></p>
      </div><!--END grid-->
    </div><!--END hero-content-->

    <div class="hero-content" id="forth-hero">
      <div class="row show-grid">
        <div class="span-one-third" style="text-align:center;">
          <h1 style="border:none; margin-left:10px;">Follow US on</h1>
          <img style="margin-top:50px;" src="http://img.t.sinajs.cn/t4/style/images/staticlogo/download/Brand_Group/PNG/Cn_En_Group/Sina_Weibo_Logo_RGB_C_E.png" width="250" alt="Sina Weibo Logo" />
        </div>
        <div class="span8" style="text-align:right;">
          <iframe width="350" height="310" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=250&height=310&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1771048793&verifier=f729d6d3&dpc=1"></iframe>
        </div>
      </div><!--END grid-->
    </div><!--END hero-content-->

    <!--NEW hero insert here-->
  </div><!--END content-->
  <div class="row show-grid" id="hero-selector">
    <div class="span1" id="first">1</div>
    <div class="span1" id="second">2</div>
    <div class="span1" id="third">3</div>
  </div><!-- END row-->
</div><!-- END hero-unit-->

<div class="row show-grid underhero">
  <div class="span3"><h3 style="margin-top:10px;">白金赞助商</h3></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.2345.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:10px 0;" src="{{=url_for_static('images/sponsors/2345.jpg')}}" alt="kic" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.kic.net.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:10px 0;" src="{{=url_for_static('http://www.kic.net.cn/Portals/_default/Skins/KI/images/logo.jpg')}}" alt="kic" width="150" /></a></div>
</div><!--END grid-->

<div class="row show-grid underhero">
  <div class="span3"><h3 style="margin-top:10px;">黄金赞助商</h3></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.bingdian.com//?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:25px 0;" src="{{=url_for_static('images/sponsors/bingdian_logo.png')}}" alt="turingbook" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.51fanli.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:25px 0;" src="{{=url_for_static('images/sponsors/fanliwang.png')}}" alt="turingbook" width="150" /></a></div>
</div><!--END grid-->

<div class="row show-grid underhero">
  <div class="span3"><h3 style="margin-top:10px;">白银赞助商</h3></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.huimai100.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:25px 0;" src="{{=url_for_static('images/sponsors/hongtusanbao.gif')}}" alt="turingbook" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.gensee.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:20px 0;" src="{{=url_for_static('images/sponsors/gensee.png')}}" alt="gensee" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.huimai100.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:25px 0;" src="{{=url_for_static('images/sponsors/hujiangwang.gif')}}" alt="turingbook" width="150" /></a></div>
</div><!--END grid-->

<div class="row show-grid underhero">
  <div class="span3"><h3 style="margin-top:10px;">青铜赞助商</h3></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.ituring.com.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:35px 0;" src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="turingbook" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.snda.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:20px 0;" src="{{=url_for_static('images/sponsors/snda.png')}}" alt="Snda" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="https://www.upyun.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img style="padding:20px 0;" src="{{=url_for_static('images/sponsors/upyun.gif')}}" alt="Snda" width="150" /></a></div>
</div><!--END grid-->

<h2 style="margin-top:10px; display:inline-block; border:none;">演讲嘉宾</h2><small>&nbsp;&nbsp;<a href="/2012/schedule">查看详细演讲内容及日程安排 &raquo;</a></small>
<div class="row show-grid underhero speakers">
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/zhouhongqiao.jpg')}}" alt="周宏桥" />
  </div>
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/baojizheng.jpg')}}" alt="包季真" />
  </div>
</div><!--END row-->

<div class="row show-grid underhero speakers">
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/chenshixin.jpg')}}" alt="陈世欣" />
  </div>
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/liangkuan.jpg')}}" alt="梁宽" />
  </div>
</div><!--END row-->

<div class="row show-grid underhero speakers">
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/luoxuxiang.jpg')}}" alt="罗旭祥" />
  </div>
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/zhangyue.jpg')}}" alt="张月" />
  </div>
</div><!--END row-->

<div class="row show-grid underhero speakers">
  <div class="span8">
    <img src="{{=url_for_static('images/speakers/luoguocheng.jpg')}}" alt="骆国程" />
  </div>
</div><!--END row-->

<div class="row show-grid underhero">
  <div class="span3"><h2 style="margin-top:10px;">媒体支持</h2></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.infoq.com/cn?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.csdn.net/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://topgeek.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/topgeek.gif')}}" alt="CSDN" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://techparty.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/techparty_logo.png')}}" alt="CSDN" width="150" /></a></div>
</div><!--END grid-->

<div class="row show-grid underhero">
  <div class="span3">&nbsp;</div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.mobiletmt.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/mobiletmtlogo.png')}}" alt="mobiletmt" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="#"><img src="{{=url_for_static('images/sponsors/ITF.jpg')}}" alt="mobiletmt" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="https://groups.google.com/forum/?fromgroups#!forum/shanghai-gtug?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/gtug-shanghai-logo.png')}}" alt="shanghai gtug" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.gtugs.org/chapter.jsp?id=10&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/BEIJINGgtug.png')}}" alt="beijing gtug" width="150" /></a></div>
</div>

<div class="row show-grid underhero">
  <div class="span3">&nbsp;</div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.gtugs.org/chapter.jsp?id=11&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/Guanzhou-GTUG_400.jpg')}}" alt="guangzhou gtug" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://groups.google.com/group/hangzhou-gtug?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/hangzhou-GTUG-logo.jpg')}}" alt="hangzhou gtug" width="150" /></a></div>
  <div class="span3"><a target="_blank" onClick="recordOutboundLink(this, 'SponsorLink');" href="http://www.pmcamp.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/PMCamp_logo.jpg')}}" alt="pmcamp" width="150" /></a></div>
</div><!--END grid-->

<div class="row">
  <div class="span6">
    <h2>演讲日程</h2>
    <p>主题演讲</p>
    <p><a class="btn" href="/2012/schedule">详细日程 &raquo;</a></p>
  </div>

  <div class="span5">
    <h2>关于PMConf</h2>
    <p><a target="_blank" href="http://pmconf.org">PMConf.org</a>是举办PMConf的国际性社区。</p>
    <p><a class="btn" href="/2012/about">更多细节 &raquo;</a></p>
  </div>

  <div class="span5">
    <h2>近期新闻</h2>
    <ol>
      <li>PMConf官方网站上线</li>
      <li>PMConf官方微博 <a onClick="recordOutboundLink(this, 'BottomWeiboLink');" href="http://weibo.com/pmcamp" target="_blank">@pmcamp</a>上线</li>
    </ol>
  </div>
</div>
{{end}}
