{{extend "bootstrap_layout.html"}}
{{block title}}<title>关于大会 - {{=settings.LAYOUT.TITLE}}</title>{{end}}

{{block content}}
<h1>关于大会</h1>

<div class="row show-grid">
  <div class="span5">
    <img class="pull-right" style="margin-right:20px;" src="{{=url_for_static('images/iOSConChina.png')}}" alt="iOSCon China 2012 Logo" />
  </div><!--END span-->
  <div class="span11">
    <p><strong>互联网什么人才最贵？好的产品经理!</strong></p>
    <p><strong>如何成为好的产品经理？看书，实践，跟着大牛产品经理学产品设计经验！</strong></p>
    <p><strong>听君一席话，胜读十年书。</strong></p>
    <br/>
    <p>由PMCamp主办的第二次中国产品经理大会即将于上海召开，包括交大、南大等多所 EMBA客座教授周宏桥、著名咨询师罗旭祥、淘宝梁宽、脉可寻包季真、优士网联合创始人张月、Thoughtworks首席设计师熊子川、 2Style4You的CTO陈世欣等七位国际国内优秀的产品专家为大家带来高质的主题分享。</p>
    <p>另：原本答应演讲的白鸦和俞建林因家中临时有事，变更了计划，退出了本次大会分享，非常抱歉。但大会整个的品质不会降低。对于冲着这两位的主题而来的朋友可以选择退票。</p>
    <br/>
    <p>会议时间：2012-05-19 9:00-18:00</p>
    <p>参考<a target="_blank" href="http://2011.pmcamp.org/">PMConf2011产品经理大会</a>。超过1000人报名，300多人参加的盛会。</p>

    <h2>PMCamp组织介绍</h2>
    <p>PMCamp于2010年7月由资深互联网人陈世欣先生发起，在两年年内快速发展为成熟的产品经理社区，两年来共组织过近20场大小会议，影响产品经理人数逾5000人，覆盖上三角地区以及部分华北、话中地区产品经理人群。</p>
    <p>PM – Product Manager - 产品经理们的家，是产品经理学习、成长、交流大本营！</p>
    <p>PM- Product Marketing - 关注产品市场的经理、总监们的家</p>
    <p>PM – Product Management - 围绕产品管理整个生命周期的所有相关人员的家（CEO，CTO，运营，研发）</p>

    <div class="row show-grid">
      <div class="span8">
        <h4>PMCamp 产品经理会议</h4>
        <p>做中国最好的公益性产品经理会议和培训组织</p>
        <p>- 成立于2010年7月</p>
        <p>- 为中高级产品经理人员的交流和职业发展</p>
        <p>- 已经在上海举办15次活动，是上海最大的产品经理相关活动组织机构</p>
        <p>获得过以下公司赞助：</p>
        <p>– 盛大、篱笆、点评网、CCPGames、展视互动、丫丫网，百姓网，九城，博华展览， OperaSolutions，图灵教育、博文视点</p>
        <p>– 得到CSDN，InfoQ的支持</p>
        <p>- 在上海地区有2000多名产品经理相关的会员.</p>
        <p>- 官方网站和论坛：<a target="_blank" href="http://www.pmcamp.org">http://www.pmcamp.org</a></p>
        <p>- 官方博客：<a target="_blank" href="http://blog.pmcamp.org">http://blog.pmcamp.org</a></p>
        <p>- 新浪微博：<a target="_blank" href="http://t.sina.com.cn/pmcamp">http://t.sina.com.cn/pmcamp</a>， 粉丝数5100</p>
        <p>- QQ群：119041704</p>
        <p>PMCamp是一个产品经理为主的一群人办的公益性组织，将为一直以来保持着激情、坚持学习、懂得分享、懂得相互尊重的产品经理/总监、设计经 理/总监、技术经理/总监、运营经理/总监，市场经理/总监们服务。通过努力打造，让所有互联网的各类经理/总监们，拥有一个：真正属于自己的、可依赖、 可信任、可持性的、品牌的组织。</p>
      </div><!--END span8-->
    </div><!--END row-->

    <h2>PMCamp是为以下类型的职业人群服务：</h2>
    <p>- PM – Product Manager - 产品经理们的家，是产品经理学习、成长、交流大本营！</p>
    <p>- PM – Product Marketing - 关注产品市场的经理、总监们的家</p>
    <p>- PM – Product Management - 围绕产品管理整个生命周期的所有相关人员的家（CEO，CTO，运营，研发）</p>


    <h2>组委会核心成员：</h2>
    <p>-主席 陈世欣（2style4you.com CTO）</p>
    <p>-秘书长 李正洋（赵涌在线产品运营）</p>
    <p>-执行秘书长 杨晓明（中国移动互联网产业联盟副秘书长）</p>
    <p>-主持人 吕国宁 (Introidea高级软件工程师) </p>
    <p>-摄影 连栋（电子商务创业）</p>
    <p>-技术 罗小能（Python开发者）</p>
    <p>-曾艳琦（时光流市场总监）</p>
    <p>-徐婉芳（丁丁网产品经理）</p>
    <p>-凌超（冰点酒店控 CIO）</p>
    <p>-涂运（《福布斯》中国在线网站产品经理）</p>
    <p>-潜晓（电子商务创业）</p>
    <p>- 杨正文（东华大学会展专业学生）</p>

  </div>
</div>
{{end}}
