{{extend "bootstrap_layout.html"}}

{{block title}}<title>报名注册 - {{=settings.LAYOUT.TITLE}}</title>{{end}}

{{block content}}
<h1>报名注册</h1>

<p>由于PMCon本年度的赞助有限，仅能解决会场问题，需要参会者支付个人的参会相关费用及组织费用。</p>

<h3>会场门票价格说明:</h3>

<p><span class="bold">会场门票：</span>100元/人（包括：午餐费30元，茶歇+饮料费10元，礼品费10元，会费50元）</p>
<p>前80个支付门票者，可6折优惠，60元/人 <span style="color:red;">（6折门票已经售完）</span></p>
<p>从81到第160个支付门票者，可8折优惠，80元/人 <span style="color:red;">（8折门票已经售完）</span></p>
<p>从161到第240个支付门票者，无优惠，100元/人</p>

<h3>购买流程：</h3>
<p>1) 先到大会<a target="_blank" href="http://item.taobao.com/item.htm?scm=1007.77.0.0&id=14221561555&ad_id=&am_id=&cm_id=&pm_id=">指定淘宝店</a>买指定会场门票并付款</p>
<p><span style="color:red;">注意，多人报名或者淘宝名字与报名表不一致的，必须注明报名名字。</span></p>

<br/>

<p>2) 填写以上报名表，用于未来电子票方式通知和确认参加者</p>
<p>有淘宝名称与参会者名称不一致的，需要在报名表上注明淘宝付款人。</p>
<p>或者在淘宝上注明报名者真实姓名。多人合并购买更必须注明。</p>
<p>每个人必须填写一个表，用于最后的电子票发放和到场确认。</p>

<br/>

<p>3）确认收款，发送报名通过邮件。</p>
<p>只要付款即获得门票。本次大会不会进行参会者资格审核，先到先得。组织者确认收到款项，确认收款后登记并确认，并在报名页下显示报名的名字，还会发送确认邮件。大会会前还将发确认短信。</p>

<br/>

<p>4）参会前电子邮件确认和二维码门票</p>
<p>报名并成功支付后将在大会前收到邮件通知，各个会场有签到确认报名情况，可以报名字和邮件地址确认。</p>
<p><span class="bold">联系邮件：</span><a href="mailto:veronica_li@sina.com">veronica_li@sina.com</a></p>
<p><span class="bold">注意：</span>这是社区办的公益性会议，不提供发票，如需报销可提供收据。</p>

{{end}}
