{{extend "bootstrap_layout.html"}}
{{block title}}<title>大会资料 - {{=settings.LAYOUT.TITLE}}</title>{{end}}
{{block meta}}
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/schedule.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{end}}
{{block content}}
<h1>大会Keynote播放，下载，照片集锦</h1>
<h3>上海</h3>
<table class="zebra-striped">
        <tr>
            <th>日期</th>
            <th>时间</th>
            <th>项目</th>
            <th>演讲者</th>
            <th>主题</th>
        </tr>
       
        <tr>
            <td rowspan="17" class="date">2012年3月25日</td>
        </tr>
        <tr class="break">
            <td>08:30-09:30</td>
            <td>签到</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>09:30-09:40</td>
            <td>主办方和赞助者介绍</td>
            <td style="width:130px;">组织者以及赞助商代表</td>
            <td>包括来自赞助商,TopGeek，Tiny4Cocoa的代表进行组织介绍。<br/>
            <a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-771383c6e350423b8cf3513a6f8b223f">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yoEd">下载Keynote</a></td>
        </tr>
        <tr>
            <td>09:40-10:20</td>
            <td>《无线互联网领域的创业机会》</td>
            <td>Harry(万浩基)</td>
            <td>经纬创投 <br/><a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-92d57c79530c46b6980b12eb24d5f565">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yoxu">下载Keynote</a></td>
        </tr>
        <tr>
            <td>10:20-11:05</td>
            <td>《iOS平台开发者的机遇和挑战》</td>
            <td>郝培强</td>
            <td>有道词典第一版作者、前盛大创新院高级研究员、iOS专家、iApp4Me创始人。<br/> <a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-5bde2630142845b790838fc7c57562f8">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yoBS">下载Keynote</a></td>
        </tr>
         <tr class="break">
            <td>11:05-11:15</td>
            <td>休息</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>11:15-12:00</td>
            <td>《移动产品可用性设计》</td>
            <td>杨武</td>
            <td>杨武 iOS第一个输入法iCosta作者、Android播放器Rocketplayer作者。<br/> <a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-3b9cf48f42e849cea2c46d3615dd0b7c">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3youg">下载Keynote</a></td>
        </tr>
       
      
        <tr class="break">
            <td>12:00-13:00</td>
            <td>午餐</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>13:00-14:00</td>
            <td>《移动应用开发的技术路线选择》</td>
            <td>李亮</td>
            <td>iOS第一个输入法iCosta作者、Android播放器Rocketplayer作者。 <br/><a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-a31bf2ea56e04afa901915ffcf44f6ab">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yoJ_">下载Keynote</a></td>
        </tr>
        <tr>
            <td>14:00-15:00</td>
            <td>《移动产品设计》</td>
            <td>端木恒 </td>
            <td>前苹果员工，前腾讯微博高级产品经理。 <br/><a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-bc22ff8547634607a8d2d907011e9abe">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yor3">下载Keynote</a></td>
        </tr>
        <tr class="break">
            <td>15:00-15:20</td>
            <td>茶歇</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>15:20-16:20</td>
            <td>《iOS调试实战》</td>
            <td>孔详波 </td>
            <td>盛大创新院高级研究员、iOS专家。 <br/><a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-d07e89a368e44dc99fd886abce3c6917">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yqrx">下载Keynote</a></td>
        </tr>
        <tr>
            <td>16:20-17:20</td>
            <td>《iOS应用开发最佳实践》</td>
            <td>屠毅敏  </td>
            <td>大众点评网移动研发首席工程师。<br/> <a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-a73ce0ffb71e458cafdd4025dc126902">观看录像</a>
            <a onClick="recordOutboundLink(this, 'downloadkeynote');" href="http://vdisk.weibo.com/s/3yidl">下载Keynote</a></td>
        </tr>
        <tr>
            <td>17:20-17:30</td>
            <td>问答和抽奖</td>
            <td></td>
            <td><a onClick="recordOutboundLink(this, 'watchvideo');" href="http://www.gensee.com/webcast/site/vod/play-521a82fec5404e79a3c664ef19657b0d">观看录像</a>
        </tr>
</table>
<h1>大会照片集锦</h1>
<a href="http://www.yupoo.com/photos/topgeek/albums/4833961/?style=card">点击查看</a>
{{end}}
