{{extend "bootstrap_layout.html"}}
{{block title}}<title>大会资料 - {{=settings.LAYOUT.TITLE}}</title>{{end}}
{{block meta}}
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/schedule.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{end}}
{{block content}}
<table class="zebra-striped">
  <tr>
    <th>时间</th>
    <th>项目</th>
    <th>演讲者</th>
    <th>简介</th>
  </tr>

  <tr>
    <td colspan="4"><h3>上午：创新，创业</h3></td>
  </tr>

  <tr class="break">
    <td>08:30-09:00</td>
    <td colspan="3">参会者签到</td>
  </tr>

  <tr>
    <td>09:00-09:15</td>
    <td>
      主办方和赞助者介绍<br/>
      <a href="http://t.cn/zOu0mun">PPT</a>
      <a href="http://e.gensee.com/v_1b1233">观看录像</a>
    </td>
    <td colspan="2">主持人Daniel和PMCamp秘书长李正洋，主办组织和赞助商介绍</td>
  </tr>

  <tr>
    <td>09:15-10:55</td>
    <td>创新地图-产品创新创造思维框架</td>
    <td style="width:130px;">周宏桥</td>
    <td>《就这么做产品》、《就这么做创新》图书作者</td>
  </tr>

  <tr class="break">
    <td>10:55-11:05</td>
    <td colspan="3">茶歇</td>
  </tr>

  <tr>
    <td>11:05-12:00</td>
    <td>
      移动互联网用户体验设计<br/>
      <a href="http://t.cn/zOu03LC">PPT</a>
      <a href="http://e.gensee.com/v_1b1233_2">观看录像</a>
    </td>
    <td>包季真</td>
    <td>脉可寻客户端产品总监</td>
  </tr>

  <tr class="break">
    <td>12:00-12:40</td>
    <td colspan="3">由主办方提供午餐（匹萨+鸡翅+各种饮料）。</td>
  </tr>

  <tr>
    <td colspan="4"> <h3>下午：挖掘，重生</h3></td>
  </tr>

  <tr class="break">
    <td>12:40-13:00</td>
    <td>抽奖</td>
    <td colspan="2">主持人Daniel和PMCamp秘书长李正洋</td>
  </tr>

  <tr>
    <td>13:00-13:50</td>
    <td>
      基于用户数据挖掘的产品设计<br/>
      <a href="http://e.gensee.com/v_1b1233_2">观看录像</a>
    </td>
    <td>罗旭祥</td>
    <td>上海思容信息技术有限公司（思容咨询）总经理</td>
  </tr>

  <tr>
    <td>13:50-16:40</td>
    <td>
      社交类网站的产品设计与运营<br/>
      <a href="http://t.cn/zOu0BxH">PPT</a>
      <a href="http://e.gensee.com/v_1b1233_3">观看录像</a>
    </td>
    <td>张月</td>
    <td>优士网联合创始人&首席产品官</td>
  </tr>

  <tr class="break">
    <td>14:40-15:00</td>
    <td colspan="3">茶歇</td>
  </tr>

  <tr>
    <td>15:00-15:50</td>
    <td>
      高转化率网站的推荐和劝导体系设计<br/>
      <a href="http://t.cn/zOu0dZb">PPT</a>
      <a href="http://e.gensee.com/v_1b1233_4">观看录像</a>
    </td>
    <td>陈世欣</td>
    <td>2Style4You公司的首席技术官</td>
  </tr>

  <tr>
    <td>15:50-16:40</td>
    <td>
      精益产品开发之交付启动<br/>
      <a href="http://t.cn/zOu0gCF">PPT</a>
      <a href="http://e.gensee.com/v_1b1233_5">观看录像</a>
    </td>
    <td>骆国程</td>
    <td>ThoughtWorks企业敏捷转型首席咨询师</td>
  </tr>

  <tr>
    <td>16:40-17:25</td>
    <td colspan="3">
      快速演讲环节:<br/>
      <a href="http://t.cn/zOu0eD5">冰点酒店控产品设计PPT</a>
      <a href="http://t.cn/zOu0F0I">返利网的产品设计经验PPT</a>
      <a href="http://t.cn/zOuOPTv">2345产品设计经验分享PPT</a>
      <a href="http://e.gensee.com/v_1b1233_6">观看录像</a>
    </td>
  </tr>

  <tr class="break">
    <td>17:25-18:00</td>
    <td>问答和抽奖</td>
    <td colspan="2">主持人Daniel和PMCamp秘书长李正洋</td>
  </tr>
</table>
{{end}}
