{{extend "bootstrap_layout.html"}}
{{block title}}<title>赞助商 - {{=settings.LAYOUT.TITLE}}</title>{{end}}
{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/sponsors.css')}}" />
{{end}}

{{block content}}
<h1>赞助商</h1>

<h3>赞助商为PMConf大会的成功举办提供了必不可少的支持。同时，如果您和您的公司愿意支持中国PMConf社区的交流事业，请与PMConf组委会(邮件:mailto:stingchen@pmcamp.org)联系，赞助商在大会官网的首页及“赞助商”页面展示您的公司Logo及简介。</h3><br />

<div class="row show-grid" style="border-top: 1px solid #EEEEEE;">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.kic.net.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://www.kic.net.cn/Portals/_default/Skins/KI/images/logo.jpg')}}" alt="kic" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    创智天地位于上海市五角场城市副中心，由上海市杨浦区人民政府联合瑞安房地产打造，整体投资规模将超过100亿元，总规划开发面积近100万平方米。周边环绕着复旦、同济、财大等14所知名高校和百余所科研院所，是杨浦知识创新区推进大学校区、公共社区、科技园区“三区融合，联动发展”的公共活动中心和创新服务中心，整合杨浦丰富的科教、人文、生态资源，大力发展知识密集型产业。
    2004年以来，创智天地已建成产业办公及配套用房40万平方米，与美国湾区委员会、香港数码港管理有限公司、清华启迪等知名机构建立持续、深入的战略合作关系，EMC中国研发中心、甲骨文研发中心、易保软件等一批国内外有影响的大企业，以及南南全球技术产权交易所、上海大学生科技创业基金会、杨浦风险投资服务园等一批功能性机构纷纷进驻，一批具有自主知识产权的初创型企业蓬勃成长，初步呈现出大、中、小型企业互动发展的 “接力式” 产业发展环境。
    2010年7月，创智天地与清华科技园启迪股份达成协议，借助启迪股份在创业企业孵化、高新企业研发、创新人才培育、科技成果转化等方面的丰富经验和资源优势，通过营造园区创新氛围、搭建园区孵化服务体系、建设产业公共服务平台和投融资服务平台，培育高成长的创新创业企业。
    创智天地将巴黎左岸的创意文化与美国硅谷科技创新精神完美融合，代表着创新与企业家精神，成为知识工作者分享知识、沟通交流、洽谈合作、休闲放松的创业天堂，提出了“创业，创新，乐活——打造上海的智库”的口号，以创新创业为驱动力，聚集国内外的智慧资源，构建城市科学发展的智库，营造综合型知识社区带来的全方位乐活体验，成为上海新的知识高地和创新力之源，为城市的可持续发展提供不竭动力。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.bingdian.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/bingding_logo.gif')}}" alt="emay" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    冰点 . 酒店控的故事
    他们是手机控、微博控、APP控
    平均年龄不到 25 岁，有些已年近不惑的老家伙仍然很萌 有的整天大大咧咧，有的低调得只剩下眼神 我们来自五湖四海，曾在旅行、媒体或电商经历过血火的历练，由于一个共同的原因聚在了一起，试着为旅行业带来一些不寻常的改变。
    旅行的本质是探索快乐。中国旅行业似乎缺少应有的“公平”规则：质量决定回报。旅行业利润至上的现象愈演愈烈，为游客带去快乐的公司，逐渐从我们的视野中消失，更多有名无实的公司，依靠花哨的表演和作秀的吆喝，让我们产生错觉。
    “公平的游戏，也应该是多赢的游戏” ，我们给自己一个使命。
    我们决定从酒店预订入手，打造一个平台，砍掉一切多余的环节，让客人订房直接联系酒店，当客人预算不足时，还可以与酒店还一下价。 我们需要合理的回报，我们不向酒店征收佣金，回报仅仅是帮酒店卖掉每天空置的房间：酒店把这些房间托付给这个平台，让他们用在欧美倍受推崇的冰点模式卖出去。 我们给网站取名为“冰点” (Bidding 的谐音 ) ，给手机客户端取名为“酒店控”。
    于是，故事开始了……
    什么是冰点模式？
    很少有酒店是每天都满房的，当酒店有卖不掉的房间时，他们不会像卖面包一样公开打折出售，因为已经原价订房的客人会很不高兴，将来也不会按原价再订（他们当然也不会愿意以更高价格订购）。
    但是，卖不掉的房间只能白白空着？
    绝不是！
    用户提供需求和价格，酒店参与竞标，当有酒店愿意接受用户的出价，用户需要先付款，才能知道酒店名字，打折的消息不会被满大街散布——最终的结果是，酒店原价照卖不误，又将空房换成了钱，而客人以低价住到了超值酒店。
    这就是“用户出价，酒店应价”的 Bidding ，或者说，冰点模式。
    有趣之处在于酒店和用户的博弈。用户的出价并不是每次都会成功，当出价过低时，可能会定价失败，而且每天只能出价两次。一旦成功，预订的房间也不能更改和退款。
    采用冰点模式的 Priceline 已经成为世界最大的旅行网站，它大获成功的秘诀是公平对待买卖双方：
    对酒店公平，保护酒店价格体系，让酒店赚到最多的钱。
    对用户公平，用户可选择菜单式订房，但如果想要房间打折，需要拿一些东西来交换，例如不知道酒店名字、一天只有两次机会、不能更改和退款。如果想要订到心仪的热门精品酒店，可以通过冰点模式去竞拍，从而来 hold住 TA 喜欢的房间。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://http://www.huimai100.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/fanliwang.png')}}" alt="emay" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    返利网成立于2006年11月，是国内首家电商类CPS效果营销服务提供商，公司成立五年来，凭借良好的用户体验，现已成为国内返利行业市场规模最大、用户活跃度最高的“第三方返利导购”平台。目前，返利网拥有1000万注册会员，保持每月1000多万返利金额，吸引包括京东商城、当当网、1号店等在内的400余家知名B2C电商集体入驻，覆盖中国40%以上网购人群。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://51fanli.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/hongtusanbao.gif')}}" alt="emay" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    宏图三胞·慧买网是宏图三胞公司旗下的电子商务购物网站，主营台式电脑、笔记本电脑、DIY攒机与IT配件、通信产品、数码产品、附件与各种外部设备、网络与服务器设备、办公自动化与耗材等配套产品、软件与IT书籍等专业化消费电子产品。通过与宏图三胞门店的互动经营，现已服务覆盖全国。100%正品，红快服务质量保障，便捷购物，安心享受！
  </div>
</div><!--END row-->


<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.gensee.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/gensee.png')}}" alt="Gensee 展视互动" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    Gensee展视互动是一家由国际著名风险投资机构所投资的高新技术企业；致力于运营世界领先的网络活动和虚拟会议平台；打破了传统虚拟行业的格局，首创混合传输模式，将音视频、PPT及互动内容同步呈现给观 众，更好的还原了现场的真实气氛，带来全新的体验。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.hujiang.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/hujiangwang.gif')}}" alt="Gensee 展视互动" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    沪江英语（www.Hjenglish.com）创建于2001年8月，是致力于提供在线语言学习交流、相关资讯和服务的外语网络学习平台，目前已经拥有英语、日语、法语等品牌分站。建站至今，沪江英语奇迹般的保持强劲的增长势头，以出色的品牌形象与公信力赢得越来越多沪友的信任与支持，被诸多网友和传媒推介为“平民外语门户网”。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.ituring.com.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="图灵" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    人民邮电出版社图灵公司—— 站在巨人的肩上，努力打造最专业的IT图书出版（写作/翻译）服务平台，期待与您合作！
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.snda.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/snda.png')}}" alt="Snda" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    作为领先的互动娱乐媒体企业，盛大网络通过盛大游戏、盛大文学、盛大在线等主体和其它业务，向广大用户提供多元化的互动娱乐内容和服务。盛大其他投资公司还提供网络视频、家庭棋牌平台、电子竞技平台、手机互动娱乐、网络动漫、网络音乐等在内的适合不同年龄层次用户群的互动娱乐产品，深受广大用户的欢迎。
  </div>
</div><!--END row-->

<h1>媒体支持</h1>
<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.infoq.com/cn?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    InfoQ.com（Information Queue）是一个时刻关注企业软件开发领域变化与创新的在线独立社区，读者受众群主要为技术架构师、技术团队带头人（高级开发人员）和项目经理等。通过由各个技术领域专家提供的最新的新闻、技术文章、视频访谈、视频演讲和迷你书等，InfoQ 为Java、.NET、Ruby、SOA、敏捷、架构和运维七大社区提供一流的资讯。InfoQ全球站正式启动于2006年6月8日，InfoQ中文站正式启动于2007年3月28日，以推动我们所服务的社区的进步为首要使命。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.csdn.net/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    CSDN创立于1999年，是中国最大的中文IT知识服务集团，专注IT信息传播、技术交流、教育培训和专业技术人才服务。拥有超过1800万注册会员、10000名CTO、50万注册企业及合作伙伴，全球中文网站排名第27位。长期以来，CSDN以技术视角关注IT产业发展，以深度分享推进产业技术成长，致力于弘扬技术创新，倡导分享、开放和协作，努力打造高质量的中文IT技术交流平台。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://pmcamp.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://blog.pmcamp.org/wp-content/uploads/2012/02/PMCamp_logo.jpg')}}" alt="pmcamp" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    PmCamp将为一群一直以来保持着：激情、坚持学习、懂得分享、懂得相互尊重的产品经理/总监、设计经理/总监、技术经理/总监、运营经理/总监，市场经理/总监服务。通过努力打造，让所有互联网的各类经理/总监们，拥有一个：真正属于自己的、可依赖、可信任、可持性的、品牌的组织。

  </div>
</div><!--END row-->

<div class="row show-grid last">
  <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="http://pycon.b0.upaiyun.com/images/sponsors/gensee-cloud.gif" alt="Gensee 展视互动云会议" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    Gensee展视互动是一家由国际著名风险投资机构所投资的高新技术企业；致力于运营世界领先的网络活动和虚拟会议平台；打破了传统虚拟行业的格局，首创混合传输模式，将音视频、PPT及互动内容同步呈现给观 众，更好的还原了现场的真实气氛，带来全新的体验。<br />
    Gensee是本次大会网络直播服务的提供商。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.gtugs.org/chapter.jsp?id=10&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/BEIJINGgtug.png')}}" alt="beijing gtug" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    北京GTUG是由来自北京的软件开发人员自发组成的非盈利性质的技术交流组织，讨论开源技术和谷歌的技术、产品。并定期举办线下活动。
  </div>
</div><!--END row-->

<div class="row show-grid last">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.gtugs.org/chapter.jsp?id=11&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/Guanzhou-GTUG.jpg')}}" alt="guangzhou gtug" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    广州GTUG是由来自珠三角地区的广大网络技术开发爱好者、创业者等人员自发组成的非盈利性质的技术交流组织，讨论基于Google技术的技术和产品，以及其他各类开源技术。并经常期举办线下活动和漂书等各种其他活动。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="https://groups.google.com/forum/?fromgroups#!forum/shanghai-gtug?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://technode.com/wp-content/uploads/2011/03/gtug-shanghai-logo.png')}}" alt="shanghai gtug" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    上海GTUG是由来自上海及周边地区的广大网络开发爱好者、创业者、、产品经理、支持开源代码和自由软件、以及各种新型技术开发者和爱好者自发组成的非盈利性的技术交流组织和社区。会员们全都是对网络技术、对谷歌开发技术产品感兴趣、支持公开网络和开源代码的技术和创业爱好者，包括软件及网络技术开发者、网页设计和网站站长、IT行业专家、高等院校学生、高科技开发和创业者等等。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.tiny4cocoa.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/Tiny4Cocoa_logo.png')}}" alt="tiny4cocoa" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    Tiny4Cocoa开发者网站是围绕iOS开发的各个话题的论坛。
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://techparty.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/techparty_logo1.png')}}" alt="techparty" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    珠三角技术沙龙（TechParty）是打造泛珠三角技术圈线上线下交流平台;沙龙以核心城市为基点,每月组织一到三次线下技术交流,关注各种技术领域,拥有广泛的技术社区背景,口号:"是你的沙龙!"
  </div>
</div><!--END row-->

<div class="row show-grid">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.mobiletmt.com/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/mobiletmtlogo.png')}}" alt="mobiletmt" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    移动新观察(www.MobileTMT.com)是一个关注无线互联网新技术和投资/创业的跨行业媒体交流平台。亦在提供一个跨越开发者、开发商和风险投资(TMT)行业的交流平台，通过此平台来促进TMT新兴产业的全面发展。移动新观察线下交流论坛是个开放的高端社交平台，主要针对来自投资、咨询、移动互联网、智能手机、信息技术、电信、互联网、软件开发商等领域的资深专业人士。
  </div>
</div><!--END row-->

<div class="row show-grid last">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://groups.google.com/group/hangzhou-gtug?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=pmconf2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/hangzhou-GTUG-logo.jpg')}}" alt="hangzhou gtug" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    杭州GTUG是由来自杭州及周边地区的广大互联网开发爱好者、创业者、支持开源代码和自由软件，以及各种新技术的开发者和爱好者组成的非盈利性的技术交流组织。该组织的目标是促进技术交流与共享及可能的创业和商业机会。
  </div>
</div><!--END row-->

<div class="row show-grid last">
  <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="#"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/demo-coffee-logo.jpg')}}" alt="democoffee" width="250" /></a><br />
  </div>
  <div class="span-two-thirds">
    Demo咖啡是武汉首家立足科技领域的主题咖啡馆，由一伙资深IT人联合发起。自由、平等、分享是主旨精神，人脉、提升、机会是核心价值，科技青年最In的社交平台。
  </div>
</div><!--END row-->
{{end}}
